<!DOCTYPE html>
<html lang="en">
<head>

{% include "global_layouts/meta-tags.html" ignore missing %}

 <meta charset="UTF-8">
    <title>Title</title>

    {#BOOTSTRAP #}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#FLASK ASSETS#}
    {% assets "styles_css" %}
        <link rel="preconnect stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}

<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700&display=swap" rel="stylesheet">

{% block head %} {#-- FOOTER S --#}

{% endblock head %} {#-- FOOTER E --#}

</head>

<body>


{% include "global_layouts/components/nav_bar.html" ignore missing %}

{% block content %} {#-- FOOTER S --#}

{% endblock content %} {#-- FOOTER E --#}


<footer>
{% block footer %} {#-- FOOTER S --#}
    {% include "global_layouts/components/main_footer.html" ignore missing %}
{% endblock footer %} {#-- FOOTER E --#}
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
