arrow
alembic==1.1.0
beautifulsoup4==4.8.0
blinker==1.3
Click==7.0
cssmin==0.2.0
django-htmlmin==0.11.0
Flask==1.1.1
Flask-Assets==0.12
Flask-CKEditor==0.4.3
Flask-gzip==0.2
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.0
Flask-WhooshAlchemy==0.8
Flask-WTF==0.14.2
html5lib==1.0.1
htmlmin==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.1.0
MarkupSafe==1.1.1
Pillow==8.1.2
python-dateutil==2.8.0
python-editor==1.0.4
python-slugify==3.0.3
six==1.12.0
soupsieve==1.9.3
SQLAlchemy==1.3.8
text-unidecode==1.2
webassets==0.12.1
webencodings==0.5.1
Werkzeug==0.15.6
Whoosh==2.6.0
WTForms==2.2.1
