{% extends "global_layouts/main_single.html" %}
{% block head %} {#-- FOOTER S --#}

{% endblock head %} {#-- FOOTER E --#}
{% block content %} {#-- FOOTER S --#}
<div class="container g_shadow rounded-lg forms_muse animation-target readable">
    <form action="{{ url_for('auth.sign_up') }}" method="post">
        {#### CSRF TOKEN S ####}
        {{ form.csrf_token }}
        {#### CSRF TOKEN S ####}

        {#### EMAIL S ####}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class_= "form-control form-control-lg", placeholder='your-email@email.com') }}
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            {% if form.email.errors %}
            <div class="errors">
                {% for error in form.email.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>!</strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {#### EMAIL E ####}

    {#### USERNAME S ####}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_= "form-control form-control-lg", placeholder='Joe Blah') }}
            {% if form.username.errors %}
            <div class="errors">
                {% for error in form.username.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>!</strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
        </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {#### USERNAME E ####}

        {#### password_hash S ####}
        <div class="form-group">
            {{ form.password_hash.label }}
            {{ form.password_hash(class_= "form-control form-control-lg") }}
            {% if form.password_hash.errors %}
            <div class="errors">
                {% for error in form.password_hash.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>!</strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {#### password_hash E ####}
        {#### confirm_password_hash S ####}
        <div class="form-group">
            {{ form.confirm_password_hash.label }}
            {{ form.confirm_password_hash(class_= "form-control form-control-lg") }}
            {% if form.confirm_password_hash.errors %}
            <div class="errors">
                {% for error in form.confirm_password_hash.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>!</strong> {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {#### confirm_password_hash E ####}
        </br>
        {{ form.submit(class_= "btn btn-primary btn-lg btn-block") }}
    </form>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    </div>
    {% endblock content %} {#-- FOOTER E --#}
    {% block footer %} {#-- FOOTER S --#}
                    {{ super() }}

    {% endblock footer %} {#-- FOOTER E --#}

