{% extends "global_layouts/main_single.html" %}
{% block head %} {#-- FOOTER S --#}
{% endblock head %} {#-- FOOTER E --#}
{% block content %} {#-- FOOTER S --#}
<div class="container-fluid" style="margin-top: 5%; margin-bottom: 5%;">
    <div class="card-columns">
        {% for i in posts.items %}
        <div class="card animation-target g_shadow">
            <a href="{{ url_for('blog.post', slug = i.slug ) }}">
            <img class="{#grey_img#}" style="width: 100%; margin-bottom: 2%" src="{{ url_for('static', filename = 'post_pics/' + i.post_image_file) }}" alt="">
            </a>
            <div class="card-body">
                <a href="{{ url_for('blog.post', slug = i.slug ) }}">
                    <h5 class="card-title">{{ i.title }}</h5>
                </a>
            </div>
            <div class="bio" style="background-color: white; padding: 2%">
                <div class="flex">
                    <img class="avatar" style="margin-right: 2%" src="{{ url_for('static', filename = 'profile_pics/' + i.author.image_file) }}" alt="i.author.username">
                    <div>
                        <a class="name" href="{{  i.author.username | acc_profile_link() }}">{{ i.author.username }}</a>
                        <div class="published">{{ i.date_posted | time_since() }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="padding-bottom: 10%"></div>
    {#######################################################}
    <div class="text-center">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('blog.all_posts', page=page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('blog.all_posts', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
    {#################################################}
</div>
{% endblock content %} {#-- FOOTER E --#}
{% block footer %} {#-- FOOTER S --#}
{{ super() }}
{% endblock footer %} {#-- FOOTER E --#}
