{% extends "global_layouts/main_single.html" %}
{% block head %} {#-- FOOTER S --#}
{#<style>
body{
    background-color: #02A58A;
}

</style>#}
{% endblock head %} {#-- FOOTER E --#}
{% block content %} {#-- FOOTER S --#}
<div class="container" {#style="background-color: #02A58A; border-width: 0"#}>

    <div class="card-columns">
        {% for i in posts.items %}

        <div class="card animation-target g_shadow gradient-border">

        <a href="{{ url_for('blog.post', slug = i.slug ) }}">

            <img class="grey_img" style="width: 100%; margin-bottom: 2%" src="{{ url_for('static', filename = 'post_pics/' + i.post_image_file) }}" alt="">

            {#<img class="rounded-top" src="{{ url_for('static', filename = '4o7931wx.jfif') }}"
                style="width: 100%; display:block; margin:auto;" alt="i.author.username">#}

            </a>

            <div class="card-body">


                <a href="{{ url_for('blog.post', slug = i.slug ) }}">

            <h5 class="card-title">{{ i.title }}</h5>

            </a>
</div>
                <div class="bio" style="background-color: white; padding: 2%">
                    <div class="flex">
     <img class="avatar" src="{{ url_for('static', filename = 'profile_pics/' + i.author.image_file) }}" alt="i.author.username">
                      <div>

                          <a class="name" href="{{ url_for('account.profile', user= i.author.username )}}">{{ i.author.username }}</a>

                        <div class="published">September 15</div>
                      </div>
                    </div>
                  </div>


        </div>

        {% endfor %}

    </div>
    <div style="padding-bottom: 10%"></div>
    {#######################################################}
    <div class="text-center">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('blog.all_posts', page=page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('blog.all_posts', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
    {#################################################}
</div>
{% endblock content %} {#-- FOOTER E --#}
{% block footer %} {#-- FOOTER S --#}
       {{ super() }}
{% endblock footer %} {#-- FOOTER E --#}




