{% extends "global_layouts/main_single.html" %}

{% block head %} {#-- FOOTER S --#}
<style>
    body{
    background-color: #F96067;
    }
</style>
{% endblock head %} {#-- FOOTER E --#}


{% block content %} {#-- FOOTER S --#}


<div class="container container g_shadow rounded-lg forms_muse animation-target">

<img class="avatar2" src="{{ url_for('static', filename = 'profile_pics/' + user.image_file) }}" alt="author.username">
<h1>{{ user.username }}</h1>

</div>
    {% for post in posts %}
<div class="container g_shadow rounded-lg forms_muse">
        <a href="{{ url_for('blog.post', slug = post.slug ) }}">
            <img class="rounded-top" src="{{ url_for('static', filename = '4o7931wx.jfif') }}"
                style="width: 100%; display:block; margin:auto;" alt="post.author.username">
            </a>
    <h1>{{ post.title }}</h1>
  {#  <p>{{ post.body }}</p>#}
</div>
    {% endfor %}

{% endblock content %} {#-- FOOTER E --#}

{% block footer %} {#-- FOOTER S --#}
       {{ super() }}
{% endblock footer %} {#-- FOOTER E --#}
