{% extends "global_layouts/main_single.html" %}
{% block head %} {#-- FOOTER S --#}

{% endblock head %} {#-- FOOTER E --#}
{% block content %} {#-- FOOTER S --#}
<div class="container container g_shadow rounded-lg forms_muse animation-target" style="background-color: white">
    <div class="bio">
        <div class="flex">
            <img class="avatar2" src="{{ url_for('static', filename = 'profile_pics/' + user.image_file) }}" alt="author.username">
            <div>
                <ul class="list-group list-group-flush">

                    {# --- USERNAME  S--- #}
                    <li class="list-group-item">
                        {{ user.username }}
                    </li>
                    {# --- USERNAME  E--- #}

                    {# --- GITHUB USERNAME  S--- #}
                     <li class="list-group-item">

            <img class="" src="{{ url_for('static', filename='img/svg/github_logo.svg') }}"
            alt="triangle with all three sides equal" height="20px" width=""/>

                        {{ user.git_username }}

                    </li>
                    {# --- GITHUB USERNAME  E--- #}
                </ul>

            </div>
        </div>
    </div>
</div>
{% for post in posts %}
<div class="container g_shadow rounded-lg forms_muse" style="background-color: white">
    <a href="{{ url_for('blog.post', slug = post.slug ) }}">
    <img class="" style="width: 100%; margin-bottom: 2%" src="{{ url_for('static', filename = 'post_pics/' + post.post_image_file) }}" alt="">


    <h1>{{ post.title }}</h1>
    </a>
    {#
    <p>{{ post.body }}</p>
    #}
    {% if current_user.is_authenticated %}
    {% if current_user == post.author %}
    <ul class="nav">
        <li class="nav-item nav_btn_space">
            <a href="{{ url_for('blog.update_post', id=post.id) }}" class="btn btn btn-warning btn-sm" role="button">Update</a>
        </li>
        <li class="nav-item nav_btn_space">
            <form action="{{ url_for('blog.delete_post', id=post.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input class="btn btn-danger btn-sm" type="submit" value="Delete">
            </form>
        </li>
    </ul>
    {% endif %}
    {% else %}
    {% endif %}
</div>
{% endfor %}
{% endblock content %} {#-- FOOTER E --#}
{% block footer %} {#-- FOOTER S --#}
{{ super() }}
{% endblock footer %} {#-- FOOTER E --#}
