<!-- Footer -->
<footer class="">
    <div>
        <div class="container whitefy">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!-- Facebook -->
                    <a class="fb-ic">
                    <i class="fab fa-facebook-f white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                    <i class="fab fa-google-plus-g white-text mr-4"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                    <i class="fab fa-linkedin-in white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                    <i class="fab fa-instagram white-text"> </i>
                    </a>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5 whitefy">
        <!-- Grid row -->
        <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Masters of Zen</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.
                </p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Categories</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Python</a>
                </p>
                <p>
                    <a href="#!">Flask</a>
                </p>
                <p>
                    <a href="#!">Html5</a>
                </p>
                <p>
                    <a href="#!">Css3</a>
                </p>
              {#  <p>
                    <a href="#!">Bootstrap</a>
                </p>#}
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Sponsor post</a>
                </p>
                <p>
                    <a href="#!">Advertise on this Website</a>
                </p>
                <p>
                    <a href="#!">Hire me</a>
                </p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Portugal, Lisbon
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> XXXXXXXXXXXXX@gmail.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 01 234 567 88
                </p>
                <p>


                     <button type="button" class="btn btn-light" style="margin-left: 1em">
        <a href="skype:timmcoelho_1?chat">
        <img class="" src="{{ url_for('static', filename='img/svg/skype_logo.svg') }}"
            alt="triangle with all three sides equal" height="20px" width=""/>
        <span style="margin-left: 0.50em">Skype</span>
        </a>
        </button>


                </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href=""> moz.pt</a>

                <button type="button" class="btn btn-light" style="margin-left: 1em">
        <a href="https://www.pythonanywhere.com/?affiliate_id=005a7aab">
            <span style="margin-right: 1em">Hosted on</span>
        <img class="" src="{{ url_for('static', filename='img/svg/Python-Anywhere-logo.svg') }}"
            alt="triangle with all three sides equal" height="20px" width=""/>
        </a>
        </button>


         <button type="button" class="btn btn-light" style="margin-left: 1em">
        <a href="https://github.com/JoaoTimm">
            <span style="margin-right: 1em">Design by J.Timm</span>
        <img class="" src="{{ url_for('static', filename='img/svg/github_logo.svg') }}"
            alt="triangle with all three sides equal" height="20px" width=""/>
        </a>
        </button>

    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
