<nav class="navbar navbar-expand-lg navbar-light bg-light" style="">
    <a class="navbar-brand" href="{{ url_for('index') }}">
    <img rel="prefetch" class="" src="{{ url_for('static', filename='img/svg/moz_logo.svg') }}"
        alt="triangle with all three sides equal" height="" width="80px"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_page == 'home' else '' }}" href="{{ url_for('index')}}">Home</a>
            </li>

            {#
            <li class="nav-item">
                <a class="nav-link {{ 'active' if active_page == 'blog' else '' }}" href="{{ url_for('blog')}}">Blog</a>
            </li>
            #}
            {#############################}
            <div class="dropdown">
                <span class="nav-link dropdown-toggle" data-toggle="dropdown">Blog
                <span class="caret"></span></span>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'blog' else '' }}" href="{{ url_for('blog.all_posts')}}">All Posts</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'new_post' else '' }}" href="{{ url_for('blog.new')}}">New Post</a>
                    </li>
                </ul>
            </div>

        </ul>

    {% if current_user.is_authenticated %}

<a href="{{ url_for('account.profile', user = current_user.username )}}">
    <img class="avatar" src="{{ image_file }}" alt="">
</a>
    {% else %}
    {% endif %}

        {#<span style="margin-left: 1%">{{ current_user.username }}</span>#}

        <span class="navbar-text">

            {#AUTH S#}
            {% if current_user.is_authenticated %}

            <div class="dropdown">
                <span class="nav-link dropdown-toggle" data-toggle="dropdown">


                    {{ current_user.username }}

                <span class="caret"></span></span>
                <ul class="dropdown-menu">


             <li class="nav-item">
                <a class="nav-link {{ 'active' if active_page == 'about' else '' }}" href="{{ url_for('account.update_account')}}">Profile</a>
            </li>
                        <li class="nav-item">
                <a class="nav-link {{ 'active' if active_page == 'about' else '' }}" href="{{ url_for('auth.logout')}}">Sign Out</a>
            </li>
                     {#AUTH E#}

                </ul>
            </div>
{% else %}
            {#NO AUTH S#}
<nav class="nav">
                <a class="nav-link {{ 'active' if active_page == 'about' else '' }}" href="{{ url_for('auth.sign_up')}}">Sign Up</a>

                <a class="nav-link {{ 'active' if active_page == 'about' else '' }}" href="{{ url_for('auth.sign_in')}}">Sign In</a>
</nav>
                    {#NO AUTH E#}
                     {% endif %}
            </span>

    </div>
</nav>
